
img{
    width:300px;
    height:250px;
    float: left;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 50%;
}

.intro {
  /*background-image:url('../image/fond.jpeg');
  background-repeat: round;
  background-size: cover;*/
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
  /*box-sizing: border-box;*/
  background-size:auto;
  background-attachment: scroll;
  background:linear-gradient(white,black);
  color:white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  height:93vh;
  width:98vw;
}

h1{
  padding-top: 80px;
  text-align:center;
  font-size: 50px;
  font-family: Georgia;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'Petit Formal Script', cursive;
}

strong{
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

ul a{
  display: table;
  width: 200px;
  margin: 0px ;
  padding: 0;
  margin-top: 100px;
  text-decoration: none;
  color:white;
}

ul li {
  display: table-cell;
  text-decoration: none;
}

nav ul{
  display: flex;
  justify-content: space-between;

}
.formation{
  text-align: center;
  background: linear-gradient(white, grey);
  height:550px;
}

.compétences{
  text-align: center;
  position:relative;
}

.experience{
  text-align: center;
  height:1000px;
}


.sous-formation {
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:1000px;
  height:200px;
  margin-left: 180px;
  text-align:center;
  padding-top: 20px;
  margin-bottom:10px;
}
.st{
  width:200px;

}


span{
  display: flex;
}

.contact{
  background: radial-gradient(white,lightgrey);
  color:black;
  padding-bottom: 50px;
}

.sous-contact{
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:600px;
  height:320px;
  margin-left: 350px;
  text-align:center;
  padding-top: 20px;
  background: linear-gradient(white,grey);
  margin-top:20px;
  font-size: 18px;
}

.sous-experience {
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:1000px;
  height:300px;
  margin-left: 180px;
  text-align:center;
  padding-top: 20px;
}

div:nth-child(2n+1)
{
  color:black;
  z-index:1;
  float:right;
}

div:nth-child(2n+2)
{
color:black;
  z-index:-1;
}


.sous-langage{
  border-radius: 40px;
  /*-moz-border-radius: 10px;*/
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:300px;
  height:220px;
  margin-left: 60px;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;
  float:left;
  margin-right: 300px;
}

.sous-logiciel{
  border-radius: 40px;
  /*-moz-border-radius: 10px;*/
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:300px;
  height:220px;
  margin-right: 300px;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;


}

.sous-projets{
  border-radius: 40px;
  /*-moz-border-radius: 10px;*/
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:300px;
  height:200px;
  margin-left: 180px;
  margin-right:20px;
  text-align:left;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-left:20px;
}

.sous-langues{
  border-radius: 40px;
  /*-moz-border-radius: 10px;*/
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:300px;
  height:200px;
  margin-left: 180px;
  margin-right:100px;
  margin-bottom: 50px;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;
  float:right;
}

.retour-haut{
  position:fixed;
  right:20px;
  bottom:20px;

}
 h2{
   text-align: center;
 }

.fa-arrow-up{
  color:grey;
}

#linux{
  width:80px;

}

.accueil{
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  width:1000px;
  height:1000px;
  margin-left: 180px;
  text-align:center;
  padding-top: 0px;
  margin-bottom:10px;
  margin-top:20px;
  padding-bottom: 20px;
}

section.accueil{
  height:400px;
}

.fa-angle-right{
padding-left: 20px;
position:relative;
right:20px;
color:beige;
}

progress{
   color:red;
   height:12px;
   width:50px;
   /*background:black;*/
   border-radius: 10px;

 }

 .cv{
   float:left;
   margin-left:50px;
   color:black;

 }

.eportfolio{
  float:right;
  margin-right:20px;
  color:black;
}


h3{
  text-align: center;
}
